[run]
branch = True
omit =
    */gym_app/tests/*
    */gym_app/tests/*/*
    */gym_app/tests/*/*/*
    */gym_app/migrations/*

[report]
omit =
    */gym_app/tests/*
    */gym_app/tests/*/*
    */gym_app/tests/*/*/*
    */gym_app/migrations/*
