[Unit]
Description=Gunicorn daemon for gym_project
Requires=gym_intranet.socket
After=network.target

[Service]
Type=notify
User=ryzepeck
Group=www-data
RuntimeDirectory=gunicorn
WorkingDirectory=/home/ryzepeck/webapps/gym_project/backend
EnvironmentFile=/home/ryzepeck/webapps/gym_project/backend/.env
ExecStart=/home/ryzepeck/webapps/gym_project/backend/venv/bin/gunicorn \
    --access-logfile - \
    --workers 3 \
    --bind unix:/run/gym_intranet.sock \
    gym_project.wsgi:application
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
