{% load static %}

<!doctype html>
<html lang="es">
  <head>
    <meta name="google-site-verification" content="iFe8F-luXYf4UulUg1XvFphiRGwrKstkVUjT7yiBolU" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>G&M Consultores Juridicos</title>
    <script type="module" crossorigin src="{% static "frontend/index.js" %}"></script>
    <link rel="stylesheet" crossorigin href="{% static "frontend/index.css" %}">
  </head>
  <body>
    <div id="app"></div>

  </body>
</html>
